<%- include("partials/header"); -%>
    <div class="question">
        <h3 class="title">Sorry, results not found!</h3>
        <br>
        <h5 class="body">Please try again with different keywords.</h5>
    </div>
  </body>
</html>
