#page-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    margin-bottom: 30px;
}

body {
    background: linear-gradient(to bottom, #007cc1 160px, #fff 100px);
    margin: 0;
    min-height: 100vh;
  }

  .quesContainer {
    width: 1000px;
    margin: 0 auto;
  }
  
  .question {
    padding: 10px 20px 10px 20px;
    line-height: 24pt;
    border: solid 1px black;
  }
  
  div.quesContainer>div:nth-of-type(odd) {
    background: #d8e8f0;
  }
  div.quesContainer>div:nth-of-type(even) {
    background: hsla(0, 0%, 100%, 0.87);
  }
  
  h3 {
    line-height: 36pt;
    font-weight: bold;
    color: blue;
  }

  .questionDetails {
    margin: 30px;
    padding: 10px 20px 10px 20px;
    line-height: 24pt;
    border: solid 1px black;
  }

  .qTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 600px;
    text-decoration: underline;
  }

  .qPS{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 100px;
  }